*.log
app-dev.log

export/
node_modules/
.npm-cache/
.pip-temp/

out/
dist/
app/out/
shared/dist/
server/dist/
server/data/

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/
.idea/

.cache/
tmp/
temp/

*.asar
*.db
*.sqlite
